body{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;    
    font-size: 13px;
    color: #444;
    background: #faefc2;    
    position: relative
}
h2,h3,h4,h5,h6{
    font-size: 14px;
    font-weight: 700;
}
blockquote {
    padding: 5px 20px;
    font-size: inherit;
}
a{
    color: #337ab7
}
p{
    margin:0 0 5px
}
.color-grey{
    color: #999
}
.color-warning{
    color: #BF1031
}
.ui-nowrap {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.navbar-fixed-top ~ .container {
    border-top: 65px solid transparent;
}
button, input, select, textarea,.form-control,.btn{
    border-radius: 0
}
.container{
    width: 960px;
    position: relative;
    padding: 0
}
.navbar{
    border-radius: 0
}
.navbar .container{    
    position: relative;    
    padding-left: 0;
    padding-right: 0;    
}
/*顶部小导航*/
.navbar-topbar{
    background: rgba(230,230,230,0.3);
    border: none;
    min-height: 40px;
    margin-bottom: 0;
    padding-bottom: 0
}
.navbar-topbar .navbar-brand{
    color: #333333
}
.navbar-topbar .navbar-header{
    color: #333333
}
.navbar-topbar .navbar-nav>li>a{
    color: #333333;
    padding: 8px 15px;
}
.navbar-topbar .navbar-nav>.active>a, .navbar-topbar .navbar-nav>.active>a:focus, .navbar-topbar .navbar-nav>.active>a:hover,.navbar-topbar .navbar-nav>li>a:hover{
    color: #333333;
    background-color: #e6e6e6;
}
.navbar-topbar .navbar-nav>.open>a, .navbar-topbar .navbar-nav>.open>a:focus, .navbar-topbar .navbar-nav>.open>a:hover{
    color: #333333;
    background-color: #e6e6e6;
}
/*logo及搜索*/
.header-logo{
    width: 205px;
    height: 90px;
    margin: 10px 0;
    background: #93ba5f;
    float: left
}
.header-search{
    width: 350px;
    height: 44px;
    float: right;
    margin-top: 37px
}
/*主导航*/
.navbar-default{
    background: #93ba5f;
    border-color: #93ba5f;
    box-shadow: 0 2px 10px rgba(0,0,0,.175);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,.175);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.175);
}
.navbar-default .navbar-brand{
    color: #fff
}
.navbar-default .navbar-header{
    color: #fff
}
.navbar-default .navbar-nav>li>a{
    color: #fff
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a:hover{
    color: #fff;
    background-color: #589013;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #fff;
    background-color: #589013;
}


.main-part{
    width: 640px;
    float: left
}
.aside-part{
    width: 300px;
    float: right
}
.module{
    background: #fff;
    padding: 0;
    box-shadow: 0 1px 3px rgba(34,25,25,.4);
    margin-bottom: 20px;
    position: relative;
    word-break: break-all;
    border: 1px solid #f2f2f2
}
.module .module-header{
    padding: 10px 20px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 700;    
}
.main-tops .module{
    height: 420px;
    overflow: hidden;
    padding: 0
}
.aside-tops .module{
    padding: 0;
}
/*面包屑*/
.breadcrumb{
    margin-bottom: 0;
    background: transparent
}
/*版权信息*/
.side-footer{
    padding: 10px 0;
    color: #999
}
.side-footer a{
    padding-right: 2px;
    color: #999;
    display: inline-block
}
.side-footer a+a {
    border-left: 1px solid #eee;
    padding-left: 5px;
}
/*首页*/
.showcase{
    width: 640px;
    height: 100px;
    background: #fff;
    margin-bottom: 40px;
    overflow: hidden;
    border: none
}
.showcase img{
    width: 100%;
    height: 100%
}
/*小说主页*/
.book-info{
    padding: 0
}
.book-info h1{
    font-size: 24px;
    font-weight: 700;
    padding-left: 15px;
}
.book-info .book-detail p{
    margin-bottom: 0
}
.book-starInfo{
    width: 200px;
    border-left: 1px solid #e6e6e6;
    height: 100%;
    padding-left: 15px;
    display: block
}
.book-star-num{
    font-size: 28px;
    width: 48px
}
.book-star-detail{
    font-size: 12px;
    line-height: 16px;
    display: block
}
.book-star-detail-item{
    display: block;
    clear: both
}
.book-star-detail .star-title{
    float: left;
    margin-right: 5px;
}
.book-star-detail .star-width{
    float: left;
    height: 8px;
    background: red;
    margin-top: 4px;
}
.book-star-detail .star-percent{
    float: left;
    margin-left: 5px;
}    
.book-chapters .list-group{
    margin-bottom: 0
}
.book-chapters .list-group-item:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}
.book-chapters .list-group-item:last-child{        
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
}
.book-chapters .list-group-item{
    border-left: none;
    border-right: none;
    padding: 10px 0
}
.module .module-body{
    padding: 20px 20px 40px;
}
.toggle-area{
    display: none
}
/*用户页面*/
.gallery-body .thumbnail,.fileSuccess .thumbnail{
    width: 95px;
    display: inline-block;
    border: none;
    padding: 0;
    margin-bottom: 0;
    margin-right: 3px;
    position: relative
}
.gallery-body .thumbnail .fixed-mask{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.6);
    padding: 10px 5px 0;
    text-align: center;
    z-index: 998;
    display: none;
}
.gallery-body .thumbnail .fixed-badge{
    width: 16px;
    height: 16px;
    text-align: center;
    display: none;
    position: absolute;
    right: -6px;
    top: -6px;
    background: #BF1031;
    border-radius: 200px;
    color: #fff;
    z-index: 999;
    line-height: 16px;        
}
.gallery-body .thumbnail .fixed-badge a{
    color: #fff
}
.gallery-body .thumbnail .fixed-mask a{
    margin-bottom: 5px
}
.gallery-body .thumbnail:hover,.fileSuccess .thumbnail:hover{
    cursor: pointer;
}
.gallery-body .thumbnail:hover .fixed-mask{
    display: block
}
.gallery-body .thumbnail:hover .fixed-badge{
    display: block
}
.gallery-body .thumbnail img,.fileSuccess .thumbnail img{
    width: 95px;
    height: 71px;
}
/*自定义加载*/
.simple-loading-box{
    position: fixed;
    top: 40%;
    left: 50%;
    width: 150px;
    height: auto;
    background: #FF677D;
    display: none
}
.simple-loading-box .loading-holder{
    font-size: 48px;
    width: 100%;
    text-align: center;
    color: #fff
}
.simple-loading-box .loading-title{
    text-align: center;
    color: #fff
}
/*右侧------*/
.main-part .post-item{
    background: #fff;
}
.main-part .post-item img{
    max-width: 100%;
}
.fixed-side-part{
    position: fixed;
    top: 60px;
    left: 50%;
    margin-left: 202px;
}
/*登录页面------*/
.login-form{
    width: 378px;
    margin: 200px auto 0;
}
/*登录页面------*/
/*注册页面------*/
span.required,.errorMessage{
    color:#FF677D
}
.errorSummary{
    border:2px solid #C00;
    background:#FEE;
    font-size:.9em;
    margin:0 0 20px;
    padding:7px 7px 12px
}
.errorSummary p{
    margin:0;
    padding:5px
}
.errorSummary ul{
    color:red;
    margin:0;
    padding:0 0 0 20px
}
/*注册页面------*/
.top-book-item img{
    width: 100%;
    height: 93px;
}
.module .book-chapters{
    padding-top: 0;
    padding-bottom: 0;
}
.module .author-book-chapters{
    padding: 0 0 0 10px;
}
/*更多*/
.more-awesome {
    color: #999;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    margin-top: 15px;
}
.more-awesome span {
    position: relative;
    top: 13px;
    background-color: #fff;
    padding: 0 20px;
} 
/*导航提醒数字*/
.top-nav-count {
    background: #BF1031;
    border: 1px solid #B11331;
    box-shadow: 0 1px 2px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.15);
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    -webkit-text-size-adjust: none;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    border-radius: 16px;
    text-indent: 0;
    text-align: center;
    text-decoration: none;
    z-index: 12;
    top: 10px;
    position: absolute;
    left: 31px;
}
/*文章页面------*/
/*页脚------*/
.footer{
    width: 100%;
    clear: both;
    margin-top: 30px
}
.footer .wrapper{
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    color: #ccc
}
.footer .wrapper a{
    color: #ccc
}
/*页脚------*/
.simpleDialog{
    background: #FF677D;
    position: fixed;
    top: 40%;
    left: 50%;
    color: #fff;
    z-index: 9999;
    padding: 5px 10px;
    box-shadow: 5px 5px 5px #333;
    display: none
}
/*返回顶部*/
.side-fixed{
    position: fixed;
    _position:absolute;
    bottom:100px;
    left:50%;
    margin-left:485px;
    background: #efefef;
    width:50px;height:50px;
}
.side-fixed:hover{background: #337ab7}
.side-fixed a{
    color:#A9A9A9;
    display: block;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}
.side-fixed a:hover{
    text-decoration: none;
    color:#fff
}
.feedback{bottom:10px;}
.feedback a{font-size: 24px;}
.feedback .fa{margin-top: 10px;}
.back-to-top{bottom:70px;display: none}
.footer-bg{
    width: 100%;
    height: 360px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../temp/footer-bg.png) no-repeat left bottom;
    background-size: contain;
    transition: opacity 200ms ease-in-out;
    z-index: -1;
    opacity: 0.5;
    display: none
}
@media screen and (min-width: 1529px){
    .footer-bg {
        height: 520px;
    }
}

/*意见反馈和返回顶部-------*/
ul.yiiPager{height:26px;margin:0;padding:0}ul.yiiPager li{display:inline;margin-right: 5px;}ul.yiiPager a:link,ul.yiiPager a:visited{padding:5px 9px;border:1px solid #ccc;border-radius:3px;background:#fff;color:#777;font-weight:normal}ul.yiiPager a:hover{border-color:#449d44;box-shadow:1px 1px 1px #333;color:#035d67;text-decoration:none}ul.yiiPager .selected a{padding:6px 10px;border:0;border-radius:3px;background:#449d44;color:#fff}ul.yiiPager .hidden,ul.yiiPager .last,ul.yiiPager .first{display:none}ul.yiiPager .previous{float: left}ul.yiiPager .next{float: right;margin-right: 0}ul.yiiPager .page{float:left}
