body{
    -webkit-user-select:initial;
    user-select:initial;
    font-size: 14px;
    line-height: 1.75;
    color: #333;
    background: #faefc2;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
    word-wrap: break-word;
}
a{
    color: #93ba5f
}
.clearfix:before{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both
}
.help-block,.color-grey,.color-grey a{
    color: #ccc !important
}
.star-color{
    color: #FFAC2D
}
.color-warning{
    color: #BF1031
}
.text-center{
    text-align: center
}
.w78{
    width: 78px;
    height: 104px;
}
.w100{
    width: 100px;
    height: 133px;
}
.a50{
    width: 50px;
    height: 50px;
}
.hidden{
    display: none
}
.header-hack{
    margin-top: 0 !important
}
.ui-list-info p{
    color: #333
}
.module{
    background: #fff;
    padding: 5px 0;
    margin-bottom: 15px;
}
.module-header{
    padding: 5px 10px;
    font-size: 16px;
    color: #9F9F9F
}
.module .padding-body{
    padding: 0 10px
}
.module .post-title{
    font-weight: 700;    
}
.showcase{
    width: 100%;
    min-height: 64px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -15px
}
.top-header{
    width: 100%;
    height: 45px;
    background: #93ba5f;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 45px;
    color: #fff;
    z-index: 99
}
.top-header a{
    color: #fff;
}
.top-header .header-left{
    position: absolute;
    top: 2px;
    left: 15px;
    width: 14%;
}
.top-header .header-center{
    text-align: center;
    width: 68%;
    margin: 0 auto;
}
.top-header .header-right{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50%;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box
}
.top-header .header-right a{
    margin-left: 5px
}
.top-header .header-right .top-notices{
    position: relative
}
.top-nav-count {
    background: #FF0000;
    border: 1px solid #FF0000;
    box-shadow: 0 1px 2px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.15);
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    -webkit-text-size-adjust: none;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    border-radius: 16px;
    text-indent: 0;
    text-align: center;
    text-decoration: none;
    z-index: 999;    
    position: absolute;
    right: -8px;
    top: -10px;
    display: none
}
.top-header .fa{
    font-size: 18px;
}
.ui-container{
    margin-top: 45px;
    margin-bottom: 45px;
}
/*首页*/
.index-list .dot{
    background: #93ba5f;
    display: inline-block;
    padding: 1px 6px;
    color: #fff;
    margin-right: 10px;
    border-radius: 2px;
    line-height: 18px
}
.ui-list-img{
    width: 80px;
    height: 100px
}
/*作品*/
.book-footer .ui-item{
    padding-top: 5px;
    box-sizing: border-box;
    height: 45px;
    font-size: 12px;
}
.book-footer .ui-item .fa{
    font-size: 16px;
}
.book-footer .favor-btn,.book-footer .read-btn{
    line-height: 45px;
    color: #fff;
}
.book-footer .favor-btn a,.book-footer .read-btn a{        
    color: #fff;
}
.book-footer .favor-btn{
    background: #FFAC2D
}
.book-footer .read-btn{
    background: #DD2727;
}
.book-page{
    background: #fff
}
.book-page h1{
    font-size: 24px;
    font-weight: 700;
    padding: 10px 10px 0
}
.book-star-detail{
    font-size: 12px;
    line-height: 16px;
    display: block
}
.book-star-detail-item{
    display: block;
    clear: both
}
.book-star-detail .star-title{
    float: left;
    margin-right: 5px;
}
.book-star-detail .star-width{
    float: left;
    height: 8px;
    background: #ffd596;
    margin-top: 4px;
}
.book-star-detail .star-percent{
    float: left;
    margin-left: 5px;
}  
.book-star-info{
    margin-bottom: 10px
}
.book-star-info .book-star-num{
    float: left;
    width: 60px;
    text-align: left;
    font-size: 36px;
    height: 40px;
    line-height: 40px;
}
.book-star-info .book-star{
    padding-left: 60px;
}
.book-tips .media{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #F2f2f2
}
.book-tips .media:last-child{
    margin-bottom: 0;
    border: none
}
/*章节*/
.chapter-page{
    background: #fff;
    padding: 0 10px;
    clear: both;
    margin-bottom: 15px
}
.chapter-page h1{
    font-size: 24px;
    padding-bottom: 0;
    font-weight: 700
}
.chapter-page h2{
    font-size: 16px
}
.chapter-page .chapter-header{
    border-bottom: 1px solid #F2f2f2;
    padding-bottom: 15px
}
.chapter-page .chapter-header a{
    color: #aaa
}
.chapter-page .chapter-header .chapter-min-tips span{
    margin-right: 5px
}
.chapter-content{        
    font-size: 18px;
    line-height: 1.75;
    padding-bottom: 15px
}
.chapter-content p{
    text-indent: 2em;
    margin-bottom: 15px
}
.chapter-tips-module{
    margin-bottom: 60px
}
.chapter-fixed-navbar{
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}
.chapter-fixed-navbar .fixed-btns{
    width: 100%;
    background: #fff;
    height: 50px;        
    text-align: center;
    font-size: 12px;        
    background: #faefc2;
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 3px 3px 3px #999;  
}
.chapter-fixed-navbar .fixed-btns .ui-col{        
    border-right: 1px solid #fff
}
.chapter-fixed-navbar .fixed-btns a{
    color: #333
}
.chapter-fixed-navbar .fixed-btns .ui-col:last-child{
    border: none
}
.chapter-fixed-navbar .fixed-btns .fa{
    display: block;
    font-size: 16px;
}
.fixed-chapters{
    width: 300px;
    position: fixed;
    left: 50%;
    margin-left: -150px;
    bottom: 80px;
    display: none            
}
.fixed-chapters .fixed-chapters-body{
    width: 100%;
    height: 100%;
    background: #faefc2;
    border: 1px solid #faefc2;
    border-radius: 5px;
    padding: 10px 10px 0;
    box-sizing: border-box;
    max-height: 360px;
    overflow-x: hidden;
    overflow-y: auto
}
.fixed-chapters .fixed-chapters-body .ui-list{
    padding: 0;
    background: transparent
}
.fixed-chapters .fixed-chapters-body a{
    color: #333
}
.fixed-chapters .fixed-chapters-body a.active{
    color: #93ba5f;
    font-weight: 700
}
.fixed-chapters .fixed-chapters-body .ui-border-b{
    border-bottom:1px dashed #fff;
    background: none
}
.fixed-chapters .fa{
    position: absolute;
    left: 50%;
    bottom: -16px;
    margin-left: -8px;
    font-size: 36px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #faefc2;
}
/*搜索*/
.top-searcher input{
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    width: 100%;
}
.top-searcher .btn{
    background: #fff;
    border-radius: 5px;
    color: #93ba5f;
    padding: 6px;
    text-align: center;
    width: 100%;
}
.fixed-extra-nav{
    position: fixed;
    width: 100%;
    height: 45px;
    max-height: 45px;
    line-height: 35px;
    padding: 5px 0;
    box-sizing:border-box;
    color: #ccc;
    top: 45px;
    left: 0;
    background: #fff;
    box-shadow:0 5px 5px #e4e4e4; 
    display: block;     
    z-index: 99
}
.fixed-extra-nav .active{
    color: #93ba5f;
    line-height: 35px
}
/*作者*/

.author-header{
    text-align: center;
    position: relative;
    width: 100%;
    height: 240px;
}
.author-bg-container{
    width: 100%;
    height: 100%;
    background-size:cover;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

}
.author-header .author-avatar{
    width: 64px;
    height: 64px;        
    border-radius: 200px;
    padding-top: 60px;
    margin: 0 auto
}
.author-header .author-avatar img{
    width: 64px;
    height: 64px;
    border-radius: 200px;
    border: 1px solid #fff
}
.author-header h1{
    color: #fff;
    font-weight: 700;        
    margin-top: 10px
}    
.author-header .author-setting{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 18px;
    color: #fff
}
.author-header .author-fixe-navs{
    position: absolute;
    right: 45px;
    top: 10px;
    width: 100px;
    min-height: 40px;
    background: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #F2f2f2;
    box-shadow: 3px 3px 3px #333;  
    display: none
}
.author-header .author-fixe-navs .fa-caret-right{
    position: absolute;
    top: 15px;
    right: -6px;
    color: #fff;
    font-size: 18px;
}
.author-header .author-fixe-navs a{
    display: block;
    text-align: left;
    line-height: 36px;
    border-bottom: 1px solid #F2f2f2
}
.author-header .author-fixe-navs a:last-child{
    border: none
}
.author-content .author-content-nav{
    background: #fff;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #ccc;
    margin-bottom: 15px;
}
.author-content .author-content-nav .active{
    color: #93ba5f
}
/*帖子*/
.forum-page{
    margin-top: 90px
}
.forum-page .ui-list-img{
    width: 100px;
    height: 68px
}
.post-page h1{
    font-size: 24px;
    font-weight: 700;
    padding: 0 10px
}
.post-page .author-info{
    margin-bottom: 5px;
}
.post-page .right-fixed-btns{
    position: fixed;
    top: 0;
    right: 0;
    height: 45px;
    line-height: 36px;
    font-size: 16px;
    z-index: 999;
    padding-right: 10px;
    text-align: right
}
.post-page .right-fixed-btns a{
    color:#fff;
    margin-left: 8px;
    position: relative;
}
.post-page .right-fixed-btns a sup{
    font-size: 12px;
}
.post-page .post-tags{        
    margin-top: -5px;
    padding-left: 10px;
    margin-bottom: 10px
}
.post-page .post-tags a{
    background: #e9e9e9;        
    color: #888;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.post-content{
    font-size: 14px;
    line-height: 1.75;
    padding: 0 10px
}
.post-content p{
    margin-bottom: 10px
}
.post-content img{
    width: 100%;
}
/*发布帖子*/
.tags-body .tag-item{
    border:1px solid #93ba5f;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 5px
}
.tags-body .tag-item:hover,.tags-body .active{
    background: #93ba5f;
    color: #fff;
    cursor: pointer
}
.tags-body .tag-item input{
    display: none
}
/*用户右侧*/
.user-header{
    background: #fff;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 15px;        
}
.user-header img{
    width: 64px;        
    height: 64px;
    border-radius: 200px;
}
.user-header .ui-row-flex{
    height: 48px;
    line-height: 48px;
    margin-top: 10px;
    color: #ccc
}
.user-header .ui-row-flex .active{
    color: #93ba5f
}
.user-side-holder{
    background: #fff;
    display: none;
    width: 60%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    border-left: 1px solid #ccc;    
    z-index: 100
}
/*表单*/
.form-group{
    margin-bottom: 15px
}
.form-group .btn{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-align: center;
    padding-left: 0 !important;
    width: 100%;
    display: block;
    height: 36px;
    line-height: 36px;
    border-radius: 5px;        
}
.form-group .btn-success{
    background: #93ba5f;
    color: #fff;
    border: 1px solid #93ba5f
}
.form-group .btn-default{
    background: #fff;
    color: #999;
    border: 1px solid #f2f2f2
}
.form-group textarea.form-control{
    width: 100%;
    border-color: #f2f2f2;
    box-shadow: none;
    -webkit-appearance: none; 
    border-radius: 5px;
    line-height: 1.75;
    color: #999
}
.form-group input.form-control{
    width: 100%;
    border-color: #f2f2f2;
    box-shadow: none;
    -webkit-appearance: none; 
    border-radius: 5px;
    line-height: 1.75;
    padding: 5px;
    color: #999;
    box-sizing: border-box
}
.form-group select.form-control{
    width: 100%;
    border-color: #f2f2f2;
    box-shadow: none;
    -webkit-appearance: none; 
    border-radius: 5px;
    line-height: 1.75;
    padding: 5px;
    color: #999;
    box-sizing: border-box
}
.form-group .help-block{
    margin-bottom: 10px;
    margin-top: 5px;
}
.toggle-area{
    display: none
}
.replyoneHolder{
    min-height: 25px;
}
.reply-one{
    background: #93ba5f;
    color: #fff;
    padding: 2px 5px;
}
.reply-one i{
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    color: #fff
}
.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}
.progress {
    height: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    display: none
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar-success {
    background-color: #5cb85c;
}
/*登录注册*/
.login-reg-module{
    position: fixed;
    width: 100%;        
    height:100%;
    left: 0;
    top: 0;
    background: #faefc2
}
.login-reg-module .fixed-return-url{
    position: fixed;
    width: 24px;        
    height:24px;
    right: 10px;
    top: 10px;
    background: #93ba5f;
    border-radius: 100px;
    text-align: center;
    line-height: 24px;
    color: #fff
}
.login-reg-module .login-reg-form{
    width: 280px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -140px;
}
.login-reg-module .login-reg-form h1{
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: center ;
    margin-bottom: 40px
}
.login-reg-module .login-reg-form h1 a{
    color: #93ba5f;
}
.login-reg-form .form-group{
    position: relative;
    margin-bottom: 15px;
}
.login-reg-form .form-group .fixed-label{
    position: absolute;
    left: 0;
    top: 0; 
    width: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    color: #ccc
}
.login-reg-form .form-group input.form-control{
    height: 36px;
    width: 100%;
    line-height: 35px;
    padding-left: 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    color: #ccc;
    background: #fff
}
.login-reg-form .form-group input.verify-code{
    width: 50%
}
.login-reg-form .verify-code-holder img{
    height: 36px;
    margin-top: -5px;
    line-height: 36px;        
    border-radius: 5px;
    margin-right: 5px
}
.login-reg-form .forgot-pass-link{
    position: fixed;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #999
}
/*简单提示*/
.simpleDialog{
    background: #FF677D;
    position: fixed;
    top: 40%;
    left: 50%;
    color: #fff;
    z-index: 9999;
    padding: 5px 10px;
    box-shadow: 0 0 5px #333;
    display: none
}
/*举报弹框*/
.displayNone{
    display: none
}
.fixed-report-holder{
    position: fixed;
    right: -1000px;
    top: 0;
    width: 80%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    display: none;       
    box-shadow:-10px 0 10px #999
}
.fixed-report-holder .close{
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    border-radius: 200px;
    line-height: 45px;
    text-align: center
}
.fixed-report-holder .report-content{
    color: red
}
.fixed-report-holder .module-header{
    border-bottom: 1px solid #f2f2f2
}
.fixed-report-holder .module-body{
    padding: 15px;
}
/*自定义加载*/
.simple-loading-box{
    position: fixed;
    top: 40%;
    left: 50%;
    width: 150px;
    height: auto;
    background: #FF677D;
    display: none;
    z-index: 9999
}
.simple-loading-box .loading-holder{
    font-size: 48px;
    width: 100%;
    text-align: center;
    color: #fff
}
.simple-loading-box .loading-title{
    text-align: center;
    color: #fff
}
body.menu-on{
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0
}
body.menu-on .ui-header,body.menu-on .top-header,body.menu-on .ui-container,body.menu-on .ui-footer,body.menu-on .footer{-webkit-transform:translateX(-60%);}
body.menu-on .ui-header{
    z-index: 102
}
/*脚部*/
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: #fff;
    border-top: 1px solid #f2f2f2;        
    text-align: center;
    z-index: 99;
}
.footer .ui-tiled{
    margin-top: 5px;
    color: #999
}
.footer .ui-tiled .active{
    color: #93ba5f;
    font-weight: 700
}
.footer .fa{
    display: block
}
.footer-bg{
    width: 100%;
    height: 180px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../images/footer-bg.png) no-repeat left bottom;
    background-size: contain;
    transition: opacity 200ms ease-in-out;
    z-index: -1;
    opacity: 0.5;
}
ul.yiiPager{height:26px;margin:30px 0;padding:0;text-align:center;}ul.yiiPager li{display:inline;margin-right: 5px}ul.yiiPager a:link,ul.yiiPager a:visited{padding:5px 9px;border:1px solid #ccc;border-radius:3px;background:#fff;color:#777;font-weight:normal}ul.yiiPager a:hover{border-color:#93ba5f;box-shadow:1px 1px 1px #333;color:#93ba5f;text-decoration:none}ul.yiiPager .selected a{padding:6px 10px;border:0;border-radius:3px;background:#93ba5f;color:#fff}ul.yiiPager .hidden,ul.yiiPager .last,ul.yiiPager .first{display:none}